<% provide(:title, 'All Users') %>
<h1>All Users:</h1>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
  	<ul class="users">
		  <% @users.each do |user| %>
		    <li>
		      <center><%= link_to user.username, user %></center>
		    </li>
		  <% end %>
		</ul>
	</div>
</div>
