<h1><b>Editing Block </b></h1>
<hr><br><br>
<div class="row">
	<%= form_for([@story, @block]) do |f| %>
  	<div class="col-md-6 col-md-offset-3">
  		<div class="field">
  			<div class="panel panel-default">
  				<div class="panel-body">
    			<%= f.text_area :content %>

    		  	<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>	
      			</div>
      		</div>
  		</div>
  	</div>
</div>
<% end %>
