<% provide(:title, 'About Us') %>
	<div class="row">
 		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h1>About Us</h1>
			<p>
			  Blokkspace is a free tool that allows you to build a narrative or collection
			  from rearrangeable Blokks that can contain any HTML content, including
			  embed code from your favorite sites such as, youtube, vimeo, soundcloud,
			  imgur, twitter, and more.
			  You can invite friends to collaborate in the creation of the
			  Space and when you're finished you can share your Space with 
			  the world, or keep it between you and friends.
			</p>
		</div>
	</div>