<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Story Blocks is a new tool that allows you to build a narrative
  from rearrangeable blocks that can contain any HTML content. 
  You can invite friends to collaborate in the creation of the
  story and when you're finished you can share your story with 
  the world or keep it between you and friends.
</p>